---
page_title: "postgresql_crdb_external_connection Resource - terraform-provider-postgresql"
subcategory: ""
description: |-
  Creates and manages a CockroachDB external connection.
---

# postgresql_crdb_external_connection (Resource)

The `postgresql_crdb_external_connection` resource creates and manages an external connection in CockroachDB.

For more details, refer to the [CockroachDB documentation](https://www.cockroachlabs.com/docs/stable/create-external-connection.html).

## Example Usage

```hcl
resource "postgresql_crdb_external_connection" "my_connection" {
  connection_name = "my_external_conn_name"
  connection_url  = "kafka://kafka-host:9092"
}
```

{{ .SchemaMarkdown | trimspace }}
