---
page_title: "postgresql_database Resource - terraform-provider-postgresql"
subcategory: ""
description: |-
  Creates and manages a database on a CockroachDB server.
---

# postgresql_database (Resource)

The `postgresql_database` resource creates and manages database objects within a CockroachDB server instance.

## Example Usage

```hcl
resource "postgresql_database" "my_db" {
  name       = "my_db"
  owner      = "my_role"
  lc_collate = "C"
  encoding   = "UTF8"
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

`postgresql_database` supports importing resources. Supposing the following Terraform:

```hcl
resource "postgresql_database" "db1" {
  name = "testdb1"
}
```

It is possible to import a `postgresql_database` resource with the following command:

```shell
terraform import postgresql_database.db1 testdb1
```

Where `testdb1` is the name of the database to import and
`postgresql_database.db1` is the name of the resource whose state will be
populated as a result of the command.
