---
page_title: "postgresql_grant Resource - terraform-provider-postgresql"
subcategory: ""
description: |-
  Creates and manages privileges given to a user for a database schema.
---

# postgresql_grant (Resource)

The `postgresql_grant` resource creates and manages privileges given to a user for a database schema.

See [CockroachDB GRANT documentation](https://www.cockroachlabs.com/docs/stable/grant.html).

## Example Usage

```hcl
# Grant SELECT privileges on 2 tables
resource "postgresql_grant" "readonly_tables" {
  database    = "test_db"
  role        = "test_role"
  schema      = "public"
  object_type = "table"
  objects     = ["table1", "table2"]
  privileges  = ["SELECT"]
}
```

### Revoke default accesses for public schema

```hcl
resource "postgresql_grant" "revoke_public" {
  database    = "test_db"
  role        = "public"
  schema      = "public"
  object_type = "schema"
  privileges  = []
}
```

{{ .SchemaMarkdown | trimspace }}
