---
page_title: "postgresql_role Resource - terraform-provider-postgresql"
subcategory: ""
description: |-
  Creates and manages a role on a CockroachDB server.
---

# postgresql_role (Resource)

The `postgresql_role` resource creates and manages a role on a CockroachDB server.

When a `postgresql_role` resource is removed, the provider will automatically run a
[`REASSIGN OWNED`](https://www.cockroachlabs.com/docs/stable/reassign-owned.html) and
[`DROP OWNED`](https://www.cockroachlabs.com/docs/stable/drop-owned-by.html) to the
`CURRENT_USER` (normally the connected user for the provider). If the specified role
owns objects in multiple databases in the same cluster, one provider per database must
be created and all but the final `postgresql_role` must specify `skip_drop_role`.

~> **Note:** All arguments including role name and password will be stored in the raw state as plain-text.
[Read more about sensitive data in state](https://www.terraform.io/docs/state/sensitive-data.html).

## Example Usage

```hcl
resource "postgresql_role" "my_role" {
  name     = "my_role"
  login    = true
  password = "mypass"
}
```

{{ .SchemaMarkdown | trimspace }}

## Import

`postgresql_role` supports importing resources. Supposing the following Terraform:

```hcl
resource "postgresql_role" "replication_role" {
  name = "replication_name"
}
```

It is possible to import a `postgresql_role` resource with the following command:

```shell
terraform import postgresql_role.replication_role replication_name
```

Where `replication_name` is the name of the role to import and
`postgresql_role.replication_role` is the name of the resource whose state will
be populated as a result of the command.
