---
page_title: "Provider: PostgreSQL (CockroachDB)"
description: |-
  A provider for managing CockroachDB resources.
---

# PostgreSQL Provider (CockroachDB)

The PostgreSQL provider gives the ability to deploy and configure resources in a CockroachDB cluster.

Use the navigation to the left to read about the available resources.

## Usage

```hcl
provider "postgresql" {
  host            = "cockroachdb_server_ip"
  port            = 26257
  database        = "defaultdb"
  username        = "crdb_user"
  password        = "crdb_password"
  sslmode         = "require"
  connect_timeout = 15
}
```

An SSL client certificate can be configured using the `clientcert` sub-resource.

```hcl
provider "postgresql" {
  host            = "cockroachdb_server_ip"
  port            = 26257
  database        = "defaultdb"
  username        = "crdb_user"
  password        = "crdb_password"
  sslmode         = "require"
  clientcert {
    cert = "/path/to/public-certificate.pem"
    key  = "/path/to/private-key.pem"
  }
}
```

Configuring multiple servers can be done by specifying the alias option.

```hcl
provider "postgresql" {
  alias    = "crdb1"
  host     = "cockroachdb_server_ip1"
  username = "crdb_user1"
  password = "crdb_password1"
}

provider "postgresql" {
  alias    = "crdb2"
  host     = "cockroachdb_server_ip2"
  username = "crdb_user2"
  password = "crdb_password2"
}

resource "postgresql_database" "my_db1" {
  provider = postgresql.crdb1
  name     = "my_db1"
}

resource "postgresql_database" "my_db2" {
  provider = postgresql.crdb2
  name     = "my_db2"
}
```

## Injecting Credentials

There are several methods of providing credentials to the provider without hardcoding them.

### Environment Variables

Provider settings can be specified via environment variables:

```shell
export PGHOST=localhost
export PGPORT=26257
export PGUSER=crdb
export PGPASSWORD=crdb
```

### Terraform Variables

Input variables can be used in provider configuration. These variables can be initialised in your Terraform code, via a [variable file](https://developer.hashicorp.com/terraform/language/values/variables#variable-definitions-tfvars-files), via [`TF_VAR_` environment variables](https://developer.hashicorp.com/terraform/language/values/variables#environment-variables) or any other method that Terraform allows.

```hcl
variable "host" {
  default = "localhost"
}

variable "password" {
  default = "crdb"
}

variable "port" {
  default = 26257
}

provider "postgresql" {
  host     = var.host
  port     = var.port
  password = var.password
  sslmode  = "disable"
}

resource "postgresql_database" "test" {
  name = "test"
}
```

### Data Sources and Resources

Credentials can be referenced via Terraform data sources or resource attributes. This is useful for getting values from a secrets store such as AWS Secrets Manager.

Resource attributes may only be referenced in provider config where the value is available in the resource definition; per [Terraform docs](https://developer.hashicorp.com/terraform/language/providers/configuration#provider-configuration-1):

> you can safely reference input variables, but not attributes exported by resources (with an exception for resource arguments that are specified directly in the configuration).

```hcl
data "aws_secretsmanager_secret" "crdb_password" {
  name = "crdb_password"
}
data "aws_secretsmanager_secret_version" "crdb_password" {
  secret_id = data.aws_secretsmanager_secret.crdb_password.id
}

provider "postgresql" {
  # ...
  password = data.aws_secretsmanager_secret_version.crdb_password.secret_string
}
```

### SOCKS5 Proxy Support

The provider supports connecting via a SOCKS5 proxy. It can be configured by setting the `ALL_PROXY` or `all_proxy` environment variable to a value like `socks5://127.0.0.1:1080`.

The `NO_PROXY` or `no_proxy` environment variable can also be set to opt out of proxying for specific hostnames or ports.

{{ .SchemaMarkdown | trimspace }}
